NODE_ISCSI_INITIATOR_IQN=iqn.2019-09.org.foo:node1
NODE_ISCSI_TARGET_IQN=iqn.2000-01.com.nas:mynas.node1
NODE_MAC_ADDRESS=aa-aa-aa-aa-aa-aa
NODE_HOSTNAME=node1
NODE_USER_PASSWORD='user:encpass' # encpass should be the output of `openssl passwd -6` using your password
NODE_ROOT_PUB_KEY=''
NODE_IPV6_SUFFIX=::0010
